apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  project: default
  source:
    chart: eshopchart
    repoURL: https://eshop-helm.s3.amazonaws.com/charts
    targetRevision: {{ CI_COMMIT_TAG }}
    helm:
      releaseName: eshopchart
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
