{
            "Comment": "CREATE/DELETE/UPSERT a record ",
            "Changes": [{
            "Action": "UPSERT",
                        "ResourceRecordSet": {
                                    "Name": "{{ DEPLOY_ENV }}.eshoponweb.devops.dataart.com",
                                    "Type": "CNAME",
                                    "TTL": 300,
                                 "ResourceRecords": [{ "Value": "{{ ESHOP_URL }}"}]
}}]
}
